language: generic
dist: trusty

env:
  - IMAGE_TO_BUILD=prestodb/hdp2.5-hive-kerberized IMAGE_TO_TEST=hdp2.5-hive
  - IMAGE_TO_BUILD=prestodb/hdp2.6-hive-kerberized IMAGE_TO_TEST=hdp2.6-hive
  - IMAGE_TO_BUILD=prestodb/cdh5.12-hive-kerberized IMAGE_TO_TEST=cdh5.12-hive
  - IMAGE_TO_BUILD=prestodb/cdh5.15-hive-kerberized IMAGE_TO_TEST=cdh5.15-hive
  - IMAGE_TO_BUILD=prestodb/iop4.2-hive IMAGE_TO_TEST=iop4.2-hive

# Prevent duplicate builds on tag pushes.
# See https://github.com/mockito/mockito/commit/500519aac4cc13770aa47c1eb7d28e905c27e7aa
branches:
  except:
    - /^release.*/
    - /^latest-snapshot.*/

services: 
  - docker

install: make ${IMAGE_TO_BUILD}

script: make test IMAGE_TO_TEST=${IMAGE_TO_TEST}

before_deploy:
  - git config --global user.email "presto-oss@users.noreply.github.com" && git config --global user.name "Presto Bot"
  - echo "machine github.com login presto-oss password ${PRESTOOSS_PAT} > ~/.netrc
  - docker login --username=${DOCKERHUB_LOGIN} --password=${DOCKERHUB_PASSWORD}

# Publish snapshots to Dockerhub for commits tagged `latest-snapshot-*`
deploy:
  on:
    all_branches: true
    condition: $( git tag --points-at HEAD | grep '^latest-snapshot' ) != ''
  skip_cleanup: true
  provider: script
  script: make snapshot
